html[data-theme="plum"] {
  --color-background: rgb(148 163 184 / var(--tw-bg-opacity, 1));
  --color-primary: #8A43B1;
  --color-secondary: #2F2733;
  --color-buttons: #52415C;
  --color-buttons-text: #fff;
  --color-typography: #222;
  --color-card-text: #fff;
  --color-anchors: #fff;
  --color-anchors-hover: #fff;
  --color-logo-text: #DBA132;
  --color-logo-plates: rgb(194 65 12 / var(--tw-bg-opacity, 1));
}