html[data-theme="plum"] {
  --color-background: #cab6d6;
  --color-primary: #9c89a8;
  --color-secondary: #2F2733;
  --color-buttons: #52415C;
  --color-buttons-text: #fff;
  --color-typography: #222;
  --color-card-text: #CAB6D6FF;
  --color-anchors: #453895;
  --color-anchors-hover: #fff;
  --color-logo-text: var(--color-card-text);
  --color-logo-plates: #453895FF;
}