html[data-theme="wine"] {
  --color-background: #D68892;
  --color-primary: #330007;
  --color-secondary: #802632;
  --color-buttons: #AA4F5B;
  --color-buttons-text: #222;
  --color-typography: #fff;
  --color-card-text: #fff;
  --color-anchors: #fff;
  --color-anchors-hover: #fff;
  --color-logo-text: #fff;
  --color-logo-plates: var(--color-buttons);
}