html[data-theme="fall"] {
  --color-background: #331400;
  --color-primary: #804826;
  --color-secondary: #D67130;
  --color-buttons: #AA724F;
  --color-buttons-text: #fff;
  --color-typography: #222;
  --color-card-text: #fff;
  --color-anchors: #fff;
  --color-anchors-hover: #fff;
  --color-logo-text: #222;
  --color-logo-plates: #55280B;
}